@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  height: 100vh;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

.tela-conta {
    width: 79%;
    height: 90%;
    padding-top: 30px;
    margin-left: 59px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.1); 
    transform-origin: center; 
}

.card-login{
    margin-left: 220px;
    width: 400px;
    height: 500px;
    padding: 30px 35px;
    background: #000000;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
  }

  .card-login > h1 {
    margin-left: 65px;
    margin-top: 5px;
    color: white;
  }

  .principalusuario > label {
    color: white;
    margin-bottom: 10px;
  }

  .principalusuario > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #434246;
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
  }

  .principalemail > label {
    color: white;
    margin-bottom: 10px;
  }

  .principalemail > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #434246;
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
  }

  .principalsenha > label {
    color: white;
    margin-bottom: 10px;
  }

  .principalsenha > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #434246;
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
  }

  .principaltelefone > label {
    color: white;
    margin-bottom: 10px;
  }

  .principaltelefone > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #434246;
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
  }

  .botão-criar{
    width: 100%;
    margin-top: 30px;
    padding: 14px 0px;
    margin-left: 0px;
    border: none;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;
    color: #000000;
    background: red;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #641616;
  }

.voltar a{
  color: white;
  text-decoration: none;
}

.voltar a:hover{
  color: blue;
}
.voltar {
  padding-top: 30px;
  padding-left: 170px;
}


@media screen and (max-width: 768px) {

  body {
    width: 0%;
    height: 0%;
    margin: 0;
    overflow: hidden;
  }

  .card-login {
    width: 100%;
    height: 100%;
    transform: scale(0.6);
    margin-left: 80px;
  }

  .voltar {
    left: center;
  }

  .card-login > h1 {
    left: 10px;
  }
}